  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <i class="fa fa-users" aria-hidden="true"></i><%= @flat.number_of_guests %>
  <i class="fa fa-eur" aria-hidden="true"></i><%=@flat.price_per_night %>



   <script  src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284
&key=${@flat.address}"> </script>
